{{#if isSecondary}}
    <ul class="flex flex-row  justify-center" >
        {{#foreach navigation}}
            <li class="block text-center text-[0.70rem] text-white p-2 mx-2 nav-{{slug}}"><a href="{{url}}" >{{slug}}</a></li>
        {{/foreach}}
    </ul>
{{else}}
        <ul class="flex flex-row justify-center" >
        {{#foreach navigation}}
            <li class="block text-center text-[0.70rem] text-white p-2 mx-2 nav-{{slug}}"><a href="{{url}}" >{{slug}}</a></li>
        {{/foreach}}
    </ul>
{{/if}}